/* Global syles */
html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #000;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

a {
    color: aquamarine;
    font-size: 1rem;
}

p {
    color: gray;
    font-size: 1.3125rem;
}

h1 {    
    font-size: 3.125rem;   
}


/* Description section */

#description img {
    margin: 0 auto;
}

/* exclamation section */

.exclamation {
    padding: 30px 0;
}

.exclamation img {
    margin: 0 auto;
}

/* footer */

footer {
    padding-right: 10px;
    text-align: right;
}